.social-list-item-link {
    @extend %align;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: background-color var(--trnsition-dur-and-func);

    &:hover,
    &:focus{
        background-color: var(--accent-color);
    }

    &:hover .social-list_icon,
    &:focus .social-list_icon {
        fill: #ffffff;
    }
}

.social-futer-list-item-link {
    @extend %align;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--trnsition-dur-and-func);

    &:hover,
    &:focus{
        background-color: var(--accent-color);
    }
}

.social-futer-list_icon {
    fill: #ffffff;
}


.mail-list_icon{
    transition: fill var(--trnsition-dur-and-func);
    fill: #757575;
    margin-right: 10px;

    .mail-link:hover &,
    .mail-link:focus & {
        fill: var(--accent-color);
    }
}

.tel-list_icon {
    transition: fill var(--trnsition-dur-and-func);
    fill: #757575;
    margin-right: 10px;

    .tel-link:hover &,
    .tel-link:focus &{
        fill: var(--accent-color);
    }
}

.social-list_icon,
.section5-list_icon {
    transition: fill var(--trnsition-dur-and-func);
    fill: #afb1b8;
}
