.page-header-container,
.mail-tel,
.section2-list,
.section3-list,
.section4-list,
.section5-list,
.button-list,
.uslugi-list {
    display: flex;
    align-items: center;
}
.section2-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 170px; */
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA
}

.section5-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: #ffffff;
    transition: border var(--trnsition-dur-and-func);
}
.social-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 0 auto;
}

.uslugi-list {
    flex-wrap: wrap;
    flex-basis: calc((100% - 2*30px)/3);
    gap: 30px;
}